.Container {
  border: 2px solid black;
  height: 55%;
  width: 89vh;
  min-width: 400px;
  max-width: 900px;
  border-radius: 5px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  overflow-y: auto;
  padding: 30px;
  box-sizing: border-box;
}

