.Container {
  background-color: rgb(53, 53, 53);
  border: 2px solid black;
  height: auto;
  width: 90%;
  min-width: 0px;
  max-width: 900px;
  border-radius: 5px;

  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);

  overflow-y: auto;
  padding: 30px;
  box-sizing: border-box;

}

@media (max-width: 450px) {
  .Container {
    width: 95%;
    padding: 15px;
  }
}
